[secrets]
# How firmware is to be written to the board
uploadProtocol = esptool
uploadPort = /dev/ttyUSB0
# IP address where log messages are sent.
udpLogTarget = 192, 168, 0, 20
# Add a password for other-the-air password updates.
otaPassword = {password-here}
uploadHostPort =
# For OTA update, uploadAuth = --auth='${secrets.otaPassword}'
uploadAuth =
